extends layout.pug

block content

  nav.nav
    a.back-link(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Carla Vidales
        p.current-position Full Stack JavaScript Developer

        .about-bio
          p 
            | My journey into the world of technology began just last year when a conversation with a close friend, a fellow Latina software engineer, sparked my inspiration. She, like me, came from a non-technical background, and her success became my beacon for change. Fueled by this newfound determination, I enrolled in an online Python course, and from that moment, I found myself captivated by the vast landscape of software development.
            br
            br
            | Determined to forge my own path, I embarked on a self-guided journey of learning, actively seeking resources and programs tailored for women of color in the tech industry. This ultimately led me to the prestigious Intuit and AnitaB Apprenticeship Pathway Program. Currently I am working through Treehouse's JavaScript Full Stack Techdegree, eagerly preparing for my role as a Software Engineer Apprentice at Intuit, starting this January.
            br
            br
            | In my portfolio, you'll find all the projects I've been working on as part of my learning journey. I love a good challenge, and I'm excited about the creative thinking this industry encourages. Being a Latina, I'm also looking forward to contributing my unique perspective to enrich and diversify the tech space. 

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 123-456-7890
          li carlavidales.ca@email.com

        a.btn-link(href='https://www.linkedin.com/in/carlavidales') LinkedIn
        a.btn-link(href='https://github.com/carlavid') GitHub

    nav.nav
      a.back-link(href='/')
        span &larr;
        |  Back