extends layout.pug 

block content 
    div.error-message
        h1= `Server Error`
        h2= `Error status code: ${err.status} - Server Error`
        p= `${err.message}`

    div
        nav.nav
            a(href='/')
                span &larr;
                |  Back to Home