extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome to my Portfolio!
    p Here you will find a collection of projects that I have completed as part of Treehouse's Full Stack JavaScript TechDegree. Feel free to click into each project where you can find descriptions of each and links to live demons.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail.project-thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5= project.project_name

